<%- include('./partials/header') %>

  <head>
    <title>Page Builder</title>
  </head>
  <body>
    <br /> 
    <br /> 
      <div class="row row-cols-1 row-cols-md-6 g-4">
      <div class="col">
        <div class="card h-100 w-60 p-3 text-center">
          <div class="card-body">
            <h5 class="card-title">book title</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-60 p-3 text-center">
          <div class="card-body">
            <h5 class="card-title">book title</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-60 p-3 text-center">
          <div class="card-body">
            <h5 class="card-title">book title</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-60 p-3 text-center">
          <div class="card-body">
            <h5 class="card-title">book title</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-60 p-3 text-center">
          <div class="card-body">
            <h5 class="card-title">book title</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-60 p-3 text-center">
          <div class="card-body">
            <h5 class="card-title">book title</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
    </div>
  </body>
  <%- include('./partials/footer') %>

