<%- include('./partials/header') %>


<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <h1>index</h1>
    <p>This is the index page</p>


<%- include('./partials/footer') %>
