body {
  margin: 0;
  height: 100vh;
}

a {
  color: #000000;
  text-decoration: none;
}

.login {
  text-decoration: none;
  color: white;
}

.login img {
  height: 30px;
}

.avatar {
  height: 30px;
  width: 30px;
}